.cabecalho {
    background-color: aquamarine;
    color: blue;
    display: flex;
    padding: 24px 0;
}

.section1 { 
    background-color: cadetblue;
    padding:100 px; 
}

.section2 {
    background-color: cornflowerblue;
padding: 100px;
}