.cabecalho {
    background-color: aquamarine;
    color: blue;
    display: flex;
    padding: 24px 0;
}

.section1 { 
    background-color: rgb(15, 215, 222);
    padding:100 px; 
}

.section2 {
    background-color: rgb(248, 251, 43);
padding: 100px;
}
.cabecalho-image{
    width: 2%;
}

.rodape{
    background-color: blueviolet;
}